# coding: utf-8
<div>ＩＤとパスワードを入力してください</div>
<%= form_tag( "/login/login" , :method => :post, :remote => true, "data-type" => "json") do %>
<%=text_field_tag :login_id %>
<%=password_field_tag :password %>
<%=submit_tag "ログイン" %>
<% end %>
